// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster|Nanum+Gothic:400,700|Roboto:300,400,700");

// Define fonts for body and headers
$headers-font: "Lobster", "cursive";
$body-font: "Lato", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.card-description a {
  font-family:'Lato', sans-serif;
  font-size: 20px;
  color: #F9F9F9;
}

.card-description a:hover {
  text-decoration: none;
  color: #FF8364;
}
